@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border-color: #424242;
  --hover-background: #1a1a1a;
  --input-background: #424242;
  --input-focus-background: #808080;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .flex-rcc {
    @apply flex justify-center items-center;
  }

  .flex-rsc {
    @apply flex justify-start items-center;
  }

  .flex-ccc {
    @apply flex flex-col justify-center items-center;
  }

  .flex-csc {
    @apply flex flex-col justify-start items-center;
  }

  .flex-cec {
    @apply flex flex-col justify-end items-center;
  }

  .flex-css {
    @apply flex flex-col justify-start items-start;
  }

  .mode-hover-button {
    @apply flex-rcc font-[500] border-[1px] border-borderColor
    h-14 px-6 text-xl transition-colors duration-300 rounded-lg w-[320px] sm:min-w-[400px]
    hover:bg-hoverBackground;
  }

  .mode-focus-input {
    @apply flex-rsc w-[320px] sm:min-w-[400px] font-[500] border-[1px] border-borderColor
    h-14 p-3 text-xs transition-colors duration-300 bg-hoverBackground focus:bg-inputBackground
    rounded-sm
  }

  .main_content {
    @apply mt-16 relative;
  }

  .md_navi {
    @apply hidden md:flex md:sticky border-borderColor z-10 gap-10 top-0 w-full h-16 p-5;
    @apply backdrop-blur-sm bg-opacity-50;
  }


}


@layer utilities {
  @keyframes rotate-spinner {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }


  .text-balance {
    text-wrap: balance;
  }

  .spinner {
    @apply w-12 h-12 rounded-full border-[5px] border-gray-600 border-t-transparent;
    animation: rotate-spinner 1s linear infinite;
  }
}
